/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*--------------- basic styling --------------- */
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    color: #fff;
    background-color: #F6B886;
}


/*--------------- Bruine balk boven aan het scherm --------------- */


.freeshipping,
H4 {
    background-color: #3f292b;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    letter-spacing: 0, 5px;
    padding-top: 3%;
    padding-bottom: 3%;
    font-weight: bolder;
    font-size: 16px;
}

@media screen and (min-width:414px) {

    .freeshipping,
    H4 {
        font-weight: 800;
    }
}


@media screen and (min-width:768px) {

    .freeshipping,
    H4 {
        font-weight: 800;
        font-size: 22px;
    }
}

@media screen and (max-width:1920px) {

    .freeshipping,
    H4 {
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: 800;
        font-size: 12px;
    }
}


@media screen and (max-width:2160px) {

    .freeshipping,
    H4 {
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: 800;
        font-size: 12px;
    }
}


/*--------------- navigation 1024+ --------------- */




@media screen and (max-width: 2160px) {
    .duizend {
        margin-top: 20px;
    }

    #menuul {
        display: flex;
        list-style: none;
        float: right;
    }



    .topnavli {
        margin: auto;
        margin-top: 20px;
    }

    .tekstnav {
        text-decoration: none;
        color: #fff;
        float: right;
        font-size: 20px;
        padding-left: 15px;
        padding-right: 10px;
        margin-top: 10px;

    }

    .menuicons2 {
        height: 30px;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }



    @media screen and (max-width: 768px) {
        .duizend {
            display: none
        }
    }
}




/*--------------- navigation 1024- --------------- */







@media screen and (min-width:1024px) {
    .klein {
        display: none;
    }
}





nav #menu {
    list-style: none;
}


nav #menu li a {
    float: left;
    text-align: center;
    width: 33%;
    margin-top: 2%;
}

.brand {
    height: 40px;
    margin-top: 10px;
    margin-left: -30px;
}

@media screen and (min-width: 414px) {
    .brand {
        height: 40px;
        margin-top: 5px;
        margin-left: -15px;
    }
}

@media screen and (min-width: 768px) {
    .brand {
        height: 60px;
        margin-top: 5px;
        margin-left: -15px;
    }
}



/*--------------- product description --------------- */


.menuicons {
    width: 30px;
    margin-top: 15px;
}

@media screen and (min-width: 414px) {
    .menuicons {
        width: 35px;
        margin-top: 10px;
    }
}


@media screen and (min-width: 768px) {
    .menuicons {
        width: 35px;
        margin-top: 18px;
    }
}






/*--------------- sidenav --------------- */



.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0%;
    background-color: #62888c;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.tekst {
    border-bottom: 1px solid #fff;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0%;
    right: 25px;
    font-size: 36px;
}





/*--------------- index body --------------- */

.index {
    background-image: url(/images/finntheduck.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*--------------- section  --------------- */


section {
    width: 100%;
}


/*--------------- probably tekst --------------- */


.wss {
    display: flex;
    justify-content: center;
    letter-spacing: 0.1em;
    font-weight: lighter;
    margin-top: 30%
}

@media screen and (min-width: 768px) {
    .wss {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 1024px) {
    .wss {
        font-size: 2em;
        margin-top: 30%;
    }
}

@media screen and (min-width: 1920px) {
    .wss {
        font-size: 2em;
        margin-top: 15%;
    }
}


/*--------------- landingpage tekst --------------- */


.lamp {
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bolder;
    font-size: 3em;
    line-height: 1em;
    margin-top: 0.1em;
}

@media screen and (min-width: 768px) {
    .lamp {
        font-size: 4em;
        margin-top: 20px
    }
}

@media screen and (min-width: 1024px) {
    .lamp {
        font-size: 5em;
        margin-top: 20px
    }
}


/*--------------- button --------------- */


.btn1 {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

@media screen and (min-width: 414px) {
    .btn1 {
        margin-top: 250px;
        margin-bottom: 159px;
    }
}


@media screen and (min-width: 768px) {
    .btn1 {
        margin-top: 250px;
        margin-bottom: 230px;
    }
}

@media screen and (min-width: 1024px) {
    .btn1 {
        margin-top: 300px;
        margin-bottom: 450px;
    }
}

@media screen and (min-width: 1920px) {
    .btn1 {
        margin-top: 325px;
        margin-bottom: 70px;
    }
}

@media screen and (min-width: 2160px) {
    .btn1 {
        margin-top: 385px;
        margin-bottom: 70px;
    }
}


/*--------------- shop now button --------------- */


.shopnow {
    border-radius: 30px;
    padding: 12px 20px;
    background-color: #df871d;
    border: none;
    text-decoration: none;
    color: #fff;
}


@media screen and (min-width: 768px) {
    .shopnow {
        padding: 18px 30px;
        font-size: 20px;
    }
}


/*--------------- policies --------------- */



.policies {
    width: 100%;
    height: 190px;
    background-image: url(/images/shipping.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media screen and (min-width: 414px) {
    .policies {
        height: 235px;
    }
}

@media screen and (min-width: 768px) {
    .policies {
        height: 400px;
    }
}

@media screen and (min-width: 1024px) {
    .policies {
        height: 500px;
    }
}

@media screen and (min-width: 1920px) {
    .policies {
        background-image: url(/images/shipping2.png);
        height: 100px;
    }
}


/*--------------- quote Quack! --------------- */


.quack {
    display: flex;
    justify-content: center;
}

.quack h1 {
    letter-spacing: 1px;
    font-weight: bolder;
    font-size: 45px;
    line-height: 1em;
    margin: 50px;
}

@media screen and (min-width: 1920px) {
    .quack h1 {
        margin: 150px;
    }
}


/*--------------- foto eend finn  --------------- */


.finn {
    width: 100%;
    height: 55%;
    background-image: url(/images/finn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media screen and (min-width: 414px) {
    .finn {
        height: 60%;
    }
}

@media screen and (min-width: 1920px) {
    .finn {
        display: inline-block;
        width: 40%;
        height: 60%;
    }
}


/*--------------- product description --------------- */


.productdesc {
}

@media screen and (min-width: 1920px) {
    .productdesc {
        background-color: #F6B886;
        width: 60%;
        display: inline-block;
        float: right;
    }
}


/*--------------- quote quack! --------------- */


.quote {
    text-align: center;
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 25px;
    line-height: 1.5em;
    padding: 50px 50px 0px 50px;
    margin: auto
}


@media screen and (min-width: 414px) {
    .quote {
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {
    .quote {
        font-size: 30px;
        margin-bottom: 80px;
    }
}

@media screen and (min-width: 1920px) {
    .quote {
        width: 50%;
        font-size: 30px;
        margin-bottom: 80px;
    }
}

/*--------------- specs wrapper --------------- */


@media screen and (min-width: 1920px) {
    .specs {
        display: flex;
        justify-content: center;
    }
}


/*--------------- specs icons --------------- */


.icons {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px
}

@media screen and (min-width: 768px) {
    .icons {
        height: 200px;
        width: 200px;
    }
}

@media screen and (min-width: 1920px) {
    .icons {
        height: 100px;
        width: 100px;
        margin-top: 10px;
    }
}


/*--------------- specs icons --------------- */


.iconsproductdesc {
    width: 100px;
}

@media screen and (min-width: 768px) {
    .iconsproductdesc {
        width: 200px;
        height: 200px;
    }
}

@media screen and (min-width: 1920px) {
    .iconsproductdesc {
        position: absolute;
        width: 100px;
        height: 100px;
    }
}


/*--------------- beschrijving kopjes --------------- */


.beschrijvingkop {
    text-align: center;
    font-size: 18px;
    padding-bottom: 5px;
    font-weight: bolder;
}

@media screen and (min-width:414px) {
    .beschrijvingkop {
        font-size: 16px;
        padding-bottom: 5px;
    }
}

@media screen and (min-width:768px) {
    .beschrijvingkop {
        font-size: 30px;
        padding-bottom: 10px;
    }
}

@media screen and (min-width:1920px) {
    .beschrijvingkop {
        display: none;
    }
}


/*--------------- beschrijving specs --------------- */


.beschrijving {
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    width: 90%;
    margin: auto;
}

@media screen and (min-width:414px) {
    .beschrijving {
        width: 80%;
        margin: auto;
    }
}


@media screen and (min-width:768px) {
    .beschrijving {
        width: 70%;
        margin: auto;
        font-size: 24px;
        margin-bottom: 80px
    }
}

@media screen and (min-width:1920px) {
    .beschrijving {
        font-size: 24px;
        margin-bottom: 80px;
        margin: 0px 60px 60px 60px;
    }
}


/*--------------- button get yours now --------------- */


.btn2 {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

@media screen and (min-width:414px) {
    .btn2 {
        padding-bottom: 40px;
    }
}

@media screen and (min-width:768px) {
    .btn2 {
        padding-bottom: 80px;
    }
}



/*--------------- button tekst --------------- */



.getyoursnow {
    width: 90%;
    border-radius: 30px;
    padding: 12px 20px;
    background-color: #df871d;
    border: none;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

@media screen and (min-width:768px) {
    .getyoursnow {
        width: 60%;
        font-size: 30px;
    }
}


@media screen and (min-width:1920px) {
    .getyoursnow {
        width: 60%;
        font-size: 30px;
        width: 40%;
        margin-bottom: 200px
    }
}


/*--------------- reviews wrapper --------------- */


.reviews {
    background-color: #F6B886;
}

@media screen and (min-width: 1920px) {
    .reviews {
        display: inline-block;
        margin-top: 100px;
        margin-bottom: 100px;
    }
}


/*--------------- reviews tekst "what customers think" --------------- */


.reviews,
.reviewtekst {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

@media screen and (min-width: 414px) {

    .reviews,
    .reviewtekst {
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) {

    .reviews,
    .reviewtekst {
        font-size: 22px;
    }
}


/*--------------- Quote tekst --------------- */


.quotetekst {
    font-weight: normal;
    font-size: 24px;
}


@media screen and (min-width: 414px) {
    .quotetekst {
        font-weight: normal;
        font-size: 24px;
    }
}


@media screen and (min-width: 768px) {
    .quotetekst {
        font-weight: normal;
        font-size: 30px;
    }
}


/*--------------- klant naam --------------- */


.carouselitems .klant {
    font-size: 16px;
    font-weight: normal;
}



@media screen and (min-width: 768px) {
    .carouselitems .klant {
        font-size: 22px;
        font-weight: normal;
    }
}

/*--------------- carousel + js  --------------- */


.carousel {
    position: relative;
    background: #F6B886;
    padding: 0px 0px 80px 0xp;
}


.carouselitems {
    display: none;
    padding: 80px;
    text-align: center;
}


/*--------------- vorige en volgende knop + hover --------------- */


.vorige {
    display: flex;
    float: left;
    justify-content: center;
}

@media screen and (min-width: 1024px) {
    .vorige {
        margin-left: 20px
    }
}

.vorige,
.volgende {
    cursor: pointer;
    position: absolute;
    top: 40%;
    height: 30px;
    width: 30px;
    margin-top: -30px;
    color: #fff;
    font-size: 20px;
    background-color: #F6B886;
    border-radius: 30px;
    border: 1px solid #fff;
    text-align: center;
}

.volgende {
    position: absolute;
    right: 0;
    border-radius: 30px;
}

@media screen and (min-width: 1024px) {
    .volgende {
        margin-right: 20px
    }
}


.vorige:hover,
.volgende:hover {
    background-color: #df871d;
    color: white;

}

/*--------------- dots onder reviews --------------- */


.balContainer {
    text-align: center;
    padding: 0px 20px 00px 20px;
    background: #F6B886;
    padding-bottom: 100px;
}


.bal {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #F6B886;
    border-radius: 50%;
    border: 1px solid #fff;
    display: inline-block;
    transition: background-color 0.6s ease;
}

@media screen and (min-width: 768px) {
    .bal {
        height: 25px;
        width: 25px;
    }
}




/*--------------- quotes + klantnaam --------------- */


q {
    font-style: italic;
    font-size: 28px;
    font-weight: bolder;
    line-height: 1.25em;
}

.klant {
    font-size: 16px;
    margin-top: 30px;
}

.active,
.dot:hover {
    background-color: #df871d;
}



/*--------------- instafeed 2x2 --------------- */


.instafeed {
    height: 434px;
}

@media screen and (min-width: 768px) {
    .instafeed {
        height: 700px;
    }
}

@media screen and (min-width: 1024px) {
    .instafeed {
        height: 1000px;
    }
}

@media screen and (min-width: 1920px) {
    .instafeed {
        height: 1920px;
    }
}


/*--------------- instafeed fotos 2x2 --------------- */


.insta {
    width: 217px;
    height: 180px;
    float: left;
    width: 50%;
}

@media screen and (min-width: 414px) {
    .insta {
        width: 217px;
        height: 217px;
        float: left;
        width: 50%;
    }
}

@media screen and (min-width: 768px) {
    .insta {
        height: 350px;
    }
}

@media screen and (min-width: 1024px) {
    .insta {
        height: 500px;
    }
}

@media screen and (min-width: 1920px) {
    .insta {
        height: 960px;
        width: 50%;
    }
}

/*--------------- footer --------------- */




footer {
    background-color: #F6B886;
}


/*--------------- dash line --------------- */



hr {
    margin-left: 40%;
    width: 20%;
    color: #fff;
}


@media screen and (min-width:414px) {
    hr {
        margin-top: 75px;
    }
}

@media screen and (min-width:1024px) {
    hr {
        margin-top: 100px;
        margin-bottom: 50px;
    }
}


/*--------------- dash line --------------- */



.footerli {
    list-style: none;
    width: 100%;
    padding-top: 50px;
    margin: auto;
}


.footerli,
.footerul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0px 0px 5px 0px;
}

.footerli,
.footerul,
.footera {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding: 10px 10px 0px 0px;
}

@media screen and (min-width:414px) {

    .footerli,
    .footerul,
    .footera {
        font-size: 16px;
    }
}



@media screen and (min-width:768px) {

    .footerli,
    .footerul,
    .footera {
        font-size: 24px;
    }
}


/*--------------- quack quote --------------- */


.footerquack {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: lighter;
    font-size: 16px
}

@media screen and (min-width:768px) {
    .footerquack {
        margin-top: 50px;
        margin-bottom: 50px;
        font-weight: lighter;
        font-size: 24px
    }
}

@media screen and (min-width:1024px) {
    .footerquack {
        margin-top: 100px;
        margin-bottom: 100px;
        font-weight: lighter;
        font-size: 24px
    }
}

/*--------------- payment opties --------------- */



.paymentul {
    margin-top: 0px;
    list-style: none;
    width: 100%;
}

.paymentulbottom {
    margin-top: 0px;
    list-style: none;
    width: 100%;
    margin-bottom: 40px;
}

.paymentul,
.paymentli {
    display: flex;
    justify-content: center;
    padding: 3px;
}

.paymentulbottom,
.paymentli {
    display: flex;
    justify-content: center;
    padding: 3px;
}


@media screen and (min-width:1024px) {

    .paymentulbottom,
    .paymentli {
        display: flex;
        justify-content: center;
        padding: 10px;
    }
}




/*--------------- payment afbeeldingen --------------- */


.payment {
    height: 24px;
    width: 38px;
}



@media screen and (min-width:768px) {
    .payment {
        height: 48px;
        width: 76px;
    }
}

@media screen and (min-width:768px) {
    .payment {
        height: 72px;
        width: 104px;
    }
}




















/*--------------- about us pagina --------------- */


.wrapper {
    width: 100%;
    display: inline-block;
}

/*--------------- contact us --------------- */


.contactus {
    height: 100%;
    background-color: #F6B886;
    margin-top: 100px;
    text-align: left;
}


@media screen and (min-width:414px) {
    .contactus {
        padding-top: 50px;
        height: 80%;
        margin-bottom: 100px;
    }
}

@media screen and (min-width:768px) {
    .contactus {
        padding-top: 50px;
        height: 50%;
    }
}

@media screen and (min-width:1024px) {
    .contactus {
        padding-top: 50px;
        height: 50%;
        display: inline-block;
        float: left;
        width: 50%;
        position: relative;
    }
}

/*--------------- contact title --------------- */



.titlecontact {
    display: flex;
    justify-content: left;
    width: 80%;
    margin: auto;
    font-weight: 600;
    font-size: 34px;
    line-height: 1.3em;
}

@media screen and (min-width:768px) {
    .titlecontact {
        width: 60%;
        margin: auto;
        font-weight: 600;
        font-size: 50px;
        line-height: 1.3em;
    }
}

@media screen and (min-width:1024px) {
    .titlecontact {
        width: 40%;
        margin: auto;
        font-weight: 600;
        font-size: 38px;
        line-height: 1.3em;
    }
}



/*--------------- contact tekst --------------- */



.pcontact {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

@media screen and (min-width:768px) {
    .pcontact {
        width: 60%;
        font-size: 20px;
        justify-content: left;
        font-weight: bold;
    }
}

@media screen and (min-width:1024px) {
    .pcontact {
        width: 40%;
        font-size: 20px;
        justify-content: left;
        font-weight: bold;
    }
}




/*--------------- contact links --------------- */




.acontact {
    display: flex;
    justify-content: left;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    color: #3f292b;
    text-decoration: none;
    font-weight: bold;
}

@media screen and (min-width:768px) {
    .acontact {
        font-size: 18px;
        width: 60%;
    }
}

@media screen and (min-width:1024px) {
    .acontact {
        font-size: 18px;
        width: 40%;
    }
}



/*--------------- form --------------- */




input[type=text],
select,
textarea {
    width: 100%;
    background-color: #F6B886;
    padding: 12px;
    border: none;
    border-bottom: 4px solid #fff;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: #fff;
}

@media screen and (min-width:768px) {

    input[type=text],
    select,
    textarea {
        display: flex;
        width: 60%;
        justify-content: center;
        margin: auto;
        margin-top: 6px;
        margin-bottom: 16px;
    }
}

@media screen and (min-width:1024px) {

    input[type=text],
    select,
    textarea {
        display: flex;
        width: 60%;
        justify-content: center;
        margin: auto;
        margin-top: 6px;
        margin-bottom: 16px;
    }
}

#subject {
    height: 200px;
}

/*--------------- form send button --------------- */





input[type=submit] {
    background-color: #3f292b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
}

@media screen and (min-width:768px) {
    input[type=submit] {
        width: 20%;
        margin: auto;
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width:1024px) {
    input[type=submit] {
        width: 20%;
        margin: auto;
        display: flex;
        justify-content: center;
    }
}



/*--------------- form tekst --------------- */



label {
    font-size: 20px;
    font-weight: 600;
    margin: auto;
    display: flex;
}


@media screen and (min-width:768px) {
    label {
        font-size: 20px;
        font-weight: 600;
        width: 60%;
        margin: auto;
        display: flex;
    }
}

@media screen and (min-width:1024px) {
    label {
        font-size: 20px;
        font-weight: 600;
        width: 60%;
        margin: auto;
        display: flex;
    }
}

.formulier {
    border-radius: 5px;
    padding: 20px;
    padding-top: 100px;
}


@media screen and (min-width:1024px) {
    .formulier {
        display: inline-block;
        float: right;
        border-radius: 5px;
        width: 50%;
        position: relative;
        padding-top: 20%
    }
}

@media screen and (min-width:1920px) {
    .formulier {
        display: inline-block;
        float: right;
        border-radius: 5px;
        width: 50%;
        position: relative;
        padding-top: 8%
    }
}

